:root {
  --color-dark-bg: #0e0b16;
  --color-dark-shadow: #a239ca;
  --color-dark-txt: #e7dfdd;

  --color-light-bg: #e7dfdd;
  --color-light-shadow: #a239ca;
  --color-light-txt: #0e0b16;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  outline: none;
  margin: 1vw;
  background: transparent;
}

.nav-link {
  background: transparent !important;
  margin: 0.5rem 0 0.5rem 0;
}

#main_card {
  border: none;
  background: transparent;
  margin: 0;
  padding: 2vh;
}

#pills-div {
  width: 90vw;
  height: 75vh;
}

#h-pills-tab {
  justify-content: space-around;
}

#v-pills-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#v-pills-tab .nav-link {
  min-width: 100%;
}

#h-pills-tab {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
}

#h-pills-tab .nav-link {
  min-width: 110px;
  margin: 0.5em;
}

#profile_img {
    max-height: 150px;
    border-radius: var(--bs-border-radius-pill);
    margin: 1em;
}

#profile_pane {
    display: inline;
}

#profile_description {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.card-title {
    padding-bottom: 2em;
}

@media only screen and (min-width: 667px) {

    #profile_pane {
        display: flex;
        align-items: center;
        text-align: initial;
    }

    #profile_img {
        max-height: 200px;
    }

}


@media only screen and (min-width: 768px) {

  #main_card {
    padding: 5vh;
  }

  #pills-div {
    width: 85vw;
    height: 65vh;
  }

  .nav-link {
    margin: 0;
  }

}

@media only screen and (min-width: 1280px) {

  #pills-div {
    width: 75vw;
    height: 55vh;
  }

}

@media only screen and (max-width: 959px) {

  #pills-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

    .nav-link {
        padding: 0.25em;
    }

    #profile_img {
        border-radius: var(--bs-border-radius-pill);
        margin: 0.5em;
    }

    .card-title {
        padding-bottom: 0.5em;
    }

}

@media only screen and (max-height: 449px) {

  #pills-div {
    height: 85vh;
  }

  .card:not(#main_card) {
    padding: 0.25em !important;
  }

}
